[project]
	description = sbt plugin for pillar - manage migrations for your Cassandra data stores
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marco Priebe (MarcoPriebe)
[access "refs/for/refs/*"]
	read = group user/Marco Priebe (MarcoPriebe)
	push = group user/Marco Priebe (MarcoPriebe)
	label-Code-Review = -2..+2 group user/Marco Priebe (MarcoPriebe)
	label-Verified = -1..+1 group user/Marco Priebe (MarcoPriebe)
	rebase = group user/Marco Priebe (MarcoPriebe)
	removeReviewer = group user/Marco Priebe (MarcoPriebe)
	submit = group user/Marco Priebe (MarcoPriebe)
[access "refs/heads/*"]
	read = group user/Marco Priebe (MarcoPriebe)
	create = group user/Marco Priebe (MarcoPriebe)
	push = +force group user/Marco Priebe (MarcoPriebe)
	pushMerge = group user/Marco Priebe (MarcoPriebe)
[access "refs/tags/*"]
	push = group user/Marco Priebe (MarcoPriebe)
	push = +force group user/Marco Priebe (MarcoPriebe)
